.nav-bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;

  a {
    text-decoration: none;
    font-size: 1em;
  }

  .auth {
    background:none;
    border:none;
    font-size:1em;
    box-shadow: none;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
  }
}

